*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  max-width: 100%;
}
.bg{
  height: 100%;
  margin: 0;
  background-image: url("/image6.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg{
  /* The image used */
  
}
